* {
    padding: 0;
    margin: 0;
}

.header {
    height: 4.5vw;
    background-color: #333545;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--font1);
    font-size: 2.9vw;
    margin: 1vw;
    color: rgb(255, 123, 0);
    padding-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-container {
    font-size: 1.7vw;

}

.tab-container ul {
    display: flex;

}

.tab-container ul li {
    list-style: none;

}

.tab-container ul li a {
    text-decoration: none;
    color: #cccccc;
    margin: 3vw;
    font-family: var(--font7);
}

.tab-container ul li a:hover {
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.content {
    height: 60vw;
    /* background-color:aqua; */
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vw;

}

.banner figure {
    position: relative;
}

.banner img {
    height: 21vw;
    width: 89vw;
    padding-top: 3vw;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.3);
}

.box {
    display: flex;
    justify-content: center;
}

.box-1 {
    width: 40vw;
    height: 25vw;
    /* margin-left: 1vw; */
    margin-top: 2vw;
    box-shadow: 0 4px 43px rgba(0, 0, 0, 0.3);
    border-radius: 1.5vw;
}

.box-1:hover {
    background-color: #cccccc;
}

.box-1 h1 {
    display: flex;
    justify-content: center;
    font-family: var(--font4);
    font-size: 2.5vw;
    max-width: 24vw;
    align-content: center;
    margin: 2vw;
    color: #333333;
}

.box-1 span {
    display: flex;
    justify-content: center;
    font-family: var(--font4);
    font-size: 2vw;
    /* max-width: 24vw; */
    align-content: center;
    margin: 2vw;
    color: #333333;
    padding-top: -2vw;
}


.box-2 {
    width: 40vw;
    height: 25vw;
    margin-left: 2vw;
    margin-top: 2vw;
    box-shadow: 0 4px 43px rgba(0, 0, 0, 0.3);
    border-radius: 1.5vw;
}

.box-2:hover {
    background-color: #cccccc;
}

.box-2 h1 {
    display: flex;
    justify-content: center;
    font-family: var(--font4);
    font-size: 2.5vw;
    max-width: 24vw;
    align-content: center;
    margin: 2vw;
    color: #333333;
}

.box-2 span {
    display: flex;
    justify-content: center;
    font-family: var(--font4);
    font-size: 2vw;
    /* max-width: 24vw; */
    align-content: center;
    margin: 2vw;
    color: #333333;
    padding-top: -2vw;
}

.box-3 {
    width: 100%;
    height: 15vw;
    box-shadow: 0 4px 43px rgba(0, 0, 0, 0.3);
    border-radius: 1.5vw;
    max-width: 90vw;
    margin: auto;
    margin-top: 2vw;

}

.box-3:hover {
    background-color: #cccccc;
}

.box-3 h1 {
    font-family: var(--font4);
    font-size: 4vw;
    max-width: 72vw;
    margin: auto;
    color: #333333;
    margin-top: 4vw;
}

.box-3 span {
    display: flex;
    justify-content: center;
    font-family: var(--font4);
    font-size: 2vw;
    /* max-width: 24vw; */
    align-content: center;
    margin: 2vw;
    color: #333333;
    padding-top: -2vw;
}

.icon {
    display: flex;
}

.icon-1 {
    width: 11vw;
    height: 10vw;
    color: #333333;
}

.icon-2 {
    width: 11vw;
    height: 9.5vw;
    color: #333333;
    padding-right: 1vw;
}

.loan-partners {
    background-color: #333545;
    height: auto;
    max-width: 95vw;
    margin: auto;
}

.loan-partners h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 90vw; */
    font-family: var(--font4);
    padding-top: 2vw;
    font-size: 3vw;

}

.space {
    height: 3vw;
}

.loan-partners {}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners img {
    width: 12vw;
    height: 6vw;
    margin: 3vw;
}

.customer-reviews {
    display: flex;
    align-items: center;
    justify-content: center;
}

.r1 {
    width: 50vw;
    height: 20vw;
    box-shadow: 0 4px 43px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 1vw;

}

.r1 img {
    width: 8vw;
    height: 8vw;
    border-radius: 20vw;
    margin: 1vw;
}

.review-header {
    display: flex;

}

.r-right span {
    font-family: var(--font4);
    font-size: 3vw;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw;

}

.stars img {
    width: 11vw;
    height: 3vw;
    margin-top: -3vw;
    margin-left: -6vw;

}

.review {
    max-width: 44vw;
    margin: auto;
    font-family: var(--font3);
    color: #333333;
    padding-bottom: 2vw;
    font-size: 1.2vw;
    margin-top: -3vw;
}

.footer {
    background-color: black;
    padding-top: 1vw;
}

.footer h1 {
    margin: 2vw;
    color: white;
    font-family: var(--font4);
    font-size: 2vw;
}

.con {
    padding-left: 5vw;
    margin: 2vw;
}

.footer span {
    color: white;
    font-family: var(--font3);
    font-size: 1.5vw;
}

.f-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 10vw; */
}

.f-right {
    height: 9vw;
    width: 11vw;
}

.f-right span {
    display: inline-grid;
    height: 11vw;
    font-size: 2vw;
    color: white;
}

.f2-right {
    height: 6vw;
    width: 11vw;
}

.f2-right span {
    display: inline-grid;
    height: 12vw;
    font-size: 2vw;
    color: white;
}

hr {
    max-width: 95vw;
    margin: auto;
}